.about-section-content{
    .line-one{
        font-size: xx-large;
        font-weight: 700;
    }
    .line-two{
        font-size: xx-large;
        font-weight: 700;
        margin-top: -0.7rem;
        color: #8250D6;
    }
    .line-three{
        font-size: medium;
    }
    .line-four{
        .icon{
            width: 2.3rem;
            height: 2.3rem;
        }
        .back-icon{
            margin-left: -2rem; 
            color: #999999;
        }
        .next-icon{
            color: #8250D6;
        }
    }
}
.client-msg-card{
    width:550px;
    border-style: none;
}
.msg-card{
    width:450px;
    height: 170px;
    color: #000000;
    border-radius: 5px;
    position: relative;
}
.msg-prof-image{
    width: 80px;
    height:80px;
    border-radius: 100%;
    margin-left: -40px;
    margin-top:-40px;
    position: absolute;
    z-index: 1;
}
