.about-section{
    //display: flex;

    .column-about{
        padding-left: 7%;
    }
    .about-section-title{
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 700;
        display:flex;
        span {
            color: #8250d6;
        }
    }
    .about-section-description{
        margin-bottom: 100px;
        justify-content: center;
        width:900px;
        margin-left:200px;
        font-size:1.2rem;
    }
}
.about-section-content{
    
    .line-one{
        font-size: xx-large;
        font-weight: 700;
    }
    .line-two{
        font-size: xx-large;
        font-weight: 700;
        margin-top: -0.7rem;
        color: #8250D6;
    }
    .line-three{
        font-size: medium;
    }
    .line-four{
        .icon{
            width: 2.3rem;
            height: 2.3rem;
        }
        .back-icon{
            margin-left: -2rem; 
            color: #999999;
            cursor: pointer;
        }
        .back-icon:active, back-icon:focus {
            color: #8250d6;
        }
        .next-icon{
            color: #999999;
            cursor: pointer;
        }
        .next-icon:active{
            color: #8250d6;
            cursor: pointer;
        }
    }
}
.client-msg-card{
    width:620px;
    border-style: none;
    height:350px;
    justify-content: center;
    margin-top: -4rem;

    @media (max-width: 820px) {
        width:350px !important;
        margin-top: 5px !important;
        margin-left:-60px;
        .carousel-inner{
            width:320px !important;
        }
    }
    @media (max-width: 412px) {
        width:250px !important;
        height:300px !important;
        margin-left:-35px !important;

        .carousel-inner{
            width:240px !important;
        }
    }
}
.msg-card{
    width:500px;
    height: 250px;
    color: #000000;
    border-radius: 5px;
    position: relative;

    @media (max-width: 820px) {
        width:280px !important;
        margin-left: 35px !important;
        height:200px;


        a.carousel-control-next{
            display: none;

        }
        .carousel-indicators{
            width:250px;
        }
        .carousel-control-next{
            display: none;
        }
    }
    @media (max-width: 412px) {
        width:200px !important;
        //margin-left: -10px !important;
        height:200px;
    }



}
.msg-prof-image{
    width: 80px;
    height:80px;
    border-radius: 100%;
    margin-left: -40px;
    margin-top:-40px;
    position: absolute;
    z-index: 1;

    @media (max-width: 412px) {
        width: 60px;
        height:60px;
        margin-left: -25px;
        margin-top:-25px;
    }
}
.msg-content{
    margin-top: 25px;
}
.carousel-control-prev-icon {
    display: none;
}
.carousel-control-next-icon {
    display: none;
}
//.carousel-indicators{
//    display:none;
//}
.paginationBttns {
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.7rem;
}
.page-item-none {
    display: none;
}
.msg-display{
    margin-left: 480px;
    margin-top:-210px;

    @media (max-width:820px) {
        margin-left: 340px;
        margin-top:-300px;
    }
    @media (max-width:412px) {
        margin-left: 130px;
        margin-top:-350px;
    }
}

@media (max-width: 412px) {
    .about-section{
        margin-top:1000px !important;
    }
    a.carousel-control-next{
        display: none;
    }
    .arrow-section{
        margin-left: 50px;
    }
    .msg-card{
        height:250px;
    }
}