.vacation-plan-section-description{

    text-align: center;

    .heading h1 {
        color: black; 
      }
      
      .heading span {
        color: #8250D6;
      }

      .text{
        font-size: 1.3rem;
        font-weight: 150;
      }
}

