.things-you-need-section {
  height: 88vh;

  .things-you-need-card {
    background-color: rgb(49, 49, 48);
    height: 15rem;

    .image {
      height: 50px;
      width: 80px;
    }

    .title {
      color: aliceblue;
    }

    .text {
      color: aliceblue;
    }
  }

  .things-you-need-section-description{
    text-align: center !important;

    .heading h1 {
      color: black;
    }

    .heading span {
      color: #8250d6;
    }

    .text {
      font-size: 1.3rem;
      font-weight: 150;
    }
  }
}
.vacation-plan-section-description {
  text-align: center !important;

  .heading h1 {
    color: black;
  }

  .heading span {
    color: #8250d6;
  }

  .text {
    font-size: 1.3rem;
    font-weight: 150;
  }
}


@media only screen and (max-width: 820px) {
  .title {
    font-size: 1.2rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .things-you-need-section {
    height: 50vh;
  }
}

@media only screen and (max-width: 412px) {
  .things-you-need-section {
    height: 130vh;
  }
}