.bar-chart-container{
    height: 224px !important;
    width: 321px !important;
}

.daily-transaction-box{
    background-color: black !important;
}

.recharts-surface{
    background-color: black;
}

@media only screen and (max-width: 412px) {
.bar-chart-container{
    height: 237px !important;
    width: 379px !important;
}
}

@media only screen and (max-width: 820px) {
    .bar-chart-container{
        height: 237px !important;
        width: 696px !important;
    }
    }