.home-gallery {
  height: 76vh;

  .gallery-carousal {
    height: 76vh;

    .gallery-image {
      height: 75vh;
      width: 100%;
      margin: auto;
      border-radius: 2rem;
      box-shadow: 0px 5px 5px #B9B9B9;
    }
  }
}

@media (max-width: 820px) {
  .home-gallery {
    height: auto;

    .gallery-carousal {
      height: auto;

      .gallery-image {
        height: auto;
        width: 100%;
      }


    }
  }
}

.modal-content {
  background-color: #EBEBEB;
}