.time-picker {
    width: 240px;
    border-radius: 10px;
}
.time-base{
    width: 220px;
    display: flex;
}
.time-base > div{
    background-color: #ffffff;
}
.time-box-1 {
    width:54px;
    height:57px;
}
.time-input{
    width:52px;
    height: 55px;
    font-size: 36px;
    text-align: center;
    border-color:rgb(67, 6, 153);
}
.time-input:focus{
    border-color:rgb(0, 0, 0);
}
.time-input-span{
    width:40px;
    height: 15px;
    text-align: left;
    margin-top: 60px;
    margin-left: -55px;
    color:#5035c6;
}
.time-input-span-text{
    font-size: 9px;
    width:52px;
}
.time-dots{
    width:10px;
}
.time-dots-h4{
    width:8px;
    font-size: 28px;
}
.time-button-div{
    width: 40px;

    .time-button{
        width:24px;
        height: 20px;
        font-size: 8px;
        text-align: center;
        color:#000000;
        border-radius: 3px;
        border-color: blueviolet;
        background-color: #ffffff;
    }
    .time-button:hover{
        background-color: #5035c6;
        color:#ffffff;
    }
    .time-button:active{
        background-color: #5035c6;
        color:#ffffff;
    }
    .time-button:focus{
        background-color: #5035c6;
        color:#ffffff;
    }
    .am{
        margin-bottom:-5px;
        text-align: center;
    }
    .pm{
        margin-top:-5px;
    }
    .button-name{
        margin-left:-6px;
        margin-top: -4px;
        background-color: transparent;  
    }
}