//------------Time picker----------//
.time-picker {
    width: 225px;
    border-radius: 10px;
    height:85px;
}
.time-base{
    width: 206px;
    display: flex;
    border-radius: 10px;
}
.time-base > div{
    background-color: #ffffff;
    border-radius: 10px;
}
.time-box-1 {
    width:54px;
    height:57px;
}
.time-input{
    width:52px;
    height: 55px;
    font-size: 36px;
    text-align: center;
    border-color:rgb(67, 6, 153);
}
.time-input:focus{
    border-color:rgb(0, 0, 0);
}
.time-input-span{
    width:40px;
    height: 15px;
    text-align: left;
    margin-top: 60px;
    margin-left: -55px;
    color:#5035c6;
}
.time-input-span-text{
    font-size: 9px;
    width:52px;
}
.time-dots{
    width:10px;
}
.time-dots-h4{
    width:8px;
    font-size: 28px;
}
.time-button-div{
    width: 30px;
    border-radius: 10px;

    .time-button{
        width:24px;
        height: 20px;
        font-size: 8px;
        text-align: center;
        color:#000000;
        border-radius: 3px;
        border-color: blueviolet;
        background-color: #ffffff;
    }
    .time-button:hover{
        background-color: #5035c6;
        color:#ffffff;
    }
    .time-button:active{
        background-color: #5035c6;
        color:#ffffff;
    }
    .time-button:focus{
        background-color: #5035c6;
        color:#ffffff;
    }
    .am{
        margin-bottom:-5px;
        text-align: center;
    }
    .pm{
        margin-top:-5px;
    }
    .button-name{
        margin-left:-6px;
        margin-top: -4px;
        background-color: transparent;  
    }
}

/**------------date picking component----------*/
.date-card{
    width:220px;
    height:55px;
    display: flex;
    border-radius: 10px;

    .date-icon-col{
        width:10px;
        height:40px;
        margin-right: 50px;

        .date-icon{
            height:30px;
            width:30px;
        }
        
    }


    .date-datepicker-col{
        width:150px;
        outline:none;
    
        .datePicker{
            width:130px;
            border-radius: 10px;
            text-align: center;
        }
    }
    .react-datepicker__input-container{
        background-color: #ffffff;
        outline:none;
    }
}
/*----------------my booking-----------------*/
.make-booking-card1{
    width:600px;
    height:300px;

    .booking-col{
        width:300px;
        height:300px;
    }

    .text{
        font-size: medium;
        margin-right: 30px;
        margin-top: 15px;
    }
    .text-time{
        font-size: medium;
        margin-right: 16px;
        margin-top: 25px;
    }
    .text-rent-fee{
        font-size: 20px;
    }
    .date-component {
        width:220px;
    }
    .button-pay-now {
        width:100px;
        margin-left: 70px;
    }
}