.navbar {
    color: #B9B9B9;

    .logo {
        height: 50px;

    }

    .nav {
        color: rgb(5, 4, 4);

        .biuser-circle {
            height: 30px;
            width: 30px;
        }
    }

    .dropdown-toggle::after {
        display: none;

    }

    .dropdown-menu {
        --bs-dropdown-min-width: 8rem;

    }

    .dropdown-menu.show{
        left: -177%;
    }

}