.renter-card {
  width: 30%;
  height: 37vh;
  margin: 30px;
  background-color: #d9d9d9;

  .renter-body {
    background-color: #d9d9d9;
  }

  .renter-col {
    background-color: #d9d9d9;

    .renter-image {
      border-radius: 100%;
      width: 60%;
      height: 60%;
    }

    .renter-name {
      background-color: #d9d9d9;
      font-size: 0.8rem;
      font-weight: 700;
    }

    .renter-rating {
      background-color: #d9d9d9;
      color: white;
      font-size: 0.7rem;

      .rating-icon {
        background-color: #d9d9d9;
      }
    }
  }

  .renter-no {
    height: 7vh;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-bottom: 37px;
    margin-top: 9px;
  }

  .renter-message {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 7px;
  }
}

@media only screen and (max-width: 820px) {
  .renter-card {
    width: 56%;
    height: 18vh;
    .renter-name {
      font-size: 1rem !important;
      font-weight: 700;
    }

    .renter-rating {
      font-size: 1rem !important;
    }

    .renter-no {
      height: 4vh;
      margin-bottom: 45px;
    }
  }
}

@media only screen and (max-width: 820px) {
  .renter-card {
    width:340px;
    height:193px;
  }
}
