.renter-card {
  width: 395px;
  height: 180px;
  margin-left: 76px;
  background-color: #d9d9d9;

  .renter-body {
    background-color: #d9d9d9;
  }

  .renter-col {
    background-color: #d9d9d9;

    .renter-image {
      border-radius: 100%;
      width: 63%;
      height: 74%;
    }

    .renter-name {
      background-color: #d9d9d9;
      font-size: 0.8rem;
      font-weight: 700;
    }

    .renter-rating {
      background-color: #d9d9d9;
      color: white;
      font-size: 0.7rem;

      .rating-icon {
        background-color: #d9d9d9;
      }
    }
  }

  .renter-no {
    height: 37px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-bottom: 37px;
    margin-top: 9px;
  }

  .renter-message {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 7px;
  }
}

@media only screen and (max-width: 820px) {
  .renter-card {
    width: 359px;
    height: 203px;

    .renter-name {
      font-size: 1rem !important;
      font-weight: 700;
    }

    .renter-rating {
      font-size: 1rem !important;
    }

    .renter-no {
      margin-bottom: 54px !important;
      margin-top: 19px;
    }

    .renter-image {
      width: 63% !important;
      height: 61% !important;
    }
  }
}

@media only screen and (max-width: 412px) {
  .renter-card {
    width: 340px;
    height: 193px;
    margin-left: 25px;

    .renter-image {
      height: 57% !important;
    }

    .renter-name {
      font-size: 0.9rem !important;
      font-weight: 700;
    }
  }
}
