.shedule-section-box {
    display: flex;
    justify-content: flex-end;

    .shedule-section {
        height: 10rem;
        width: 25rem;
        overflow-y: scroll;
        margin-bottom: 20px; 

        .schedule-section-title {
            font-size: 1.5rem;
        }

        .shedule-card {
            width: 20rem !important;
            height: 4rem !important;
            background-color: #fff;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            margin: 1rem;
            margin-left: 0px;
            text-align: center;

            .shedule-card-body {
                background-color: rgb(255, 255, 255);
                margin: auto;
                padding: 5px;
                border-radius: 10px;
            }

            .card-place {
                background-color: #fff;

            }
        }
    }
}

@media only screen and (max-width: 412px) {

    .shedule-section{ 
      margin-left: 45px;
    } 
}


@media only screen and (max-width: 820px) {

    .shedule-section-box {
        display: flex;
        justify-content: center;
    }

    .schedule-section-title {
        text-align: center;
    }

    .shedule-card{
        margin-left: 37px !important;
    }


}