.react-daypicker-root {
  padding: 10px;
  width: 320px !important;
  background-color: #000000;
  color:#ffffff;
  border-radius: 10px;

  abbr {
    border-bottom: 0;
    text-decoration: none;
    color:#ffffff;
  }
  table{
    background-color: #000000;
  }
  th,
  td {
    padding: 5px;
    text-align: center;
    width: 40px;
    color:#ffffff;
    background-color: #000000 !important;
  }

  .header {
    display: flex;
    flex-direction: row;
    color: #EBEBEB;
  }

  .previous-month,
  .next-month {
    color: #9b9b9b;
    cursor: pointer;
    padding: 5px;
    user-select: none;
    width: 40px;
    background-color: #000000 !important;

    &:hover {
      color: #000000;
    }
  }

  .next-month {
    text-align: right;
    background-color: #000000 !important;
  }

  .month-year {
    flex: 2;
    font-weight: bold;
    text-align: center;
    background-color: #000000 !important;
  }

  .day {
    cursor: pointer;

    &:hover:not(.empty) {
      background-color: #eee !important;
      color:#000000;
    }

    &.active {
      background-color: #ddd;
    }

    &.empty {
      cursor: default;
      background-color: #000000 !important;
    }

    &.today {
      font-weight: bold;
      color:#5035c6;
      background-color: #7eaafd !important;
    }
  }
}
