.admin-complaints-table-title{
    color: aliceblue;
}

.admin-complain-table-row{
    color: aliceblue;
}

.admin-complain-table-row-text{
    font-size: 12px;
}

.admin-complain-table-row-title{
    font-size: 13px;
}