.left-navigation {
  height: calc(100vh);
  div {
    background-color: #000000;
    border-radius: 0.7rem;
  }
  .logo {
    height: 6rem !important;
    cursor: pointer;
  }

  .nav-list a {
    display: grid;
    align-items: center;
    background-color: transparent;
  }

  .nav-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
    height: 45px !important;
  }

  .nav-list a li svg {
    margin-right: 10px;
  }

  .active {
    background-color: rgba(255,255,255,0.3) !important;
    border-radius: 0.5rem;
    color: white;
  }

  .active li {
    color: white;
  }

}
