 

.top-selling-products{
    color: #F0F2F5;
    background-color: #000000;


    .top-selling-products-titles{
        border-bottom: 1px solid #F0F2F5;
    }
// search part
    .search-part{
        .search-by-date{
            border: 1px solid #7B809A;
            background-color: #000000;
            color: #7B809A;
            border-radius: 5px;
        }

        .search-by-name{
            border: 1px solid #7B809A;
            background-color: #2d2d2d;
            color: #7B809A;
            border-radius: 5px;
        }
    }


//data part
   .data-part{

    height: 70vh;
    overflow-y: scroll;
    display: block;

        .data{
            
            height: 5rem !important;
            border-bottom: 1px solid #F0F2F5;
        }
    }
    .data-part::-webkit-scrollbar {
        display: none;
    }
}


//RowTopProducts
.row-top-products{
    height: 3.5rem;

    .row-top-products-img{
        width: 45px;
        height: 50px;
        border-radius: 50%;
    }

    .name{
        color: #344767;
        
    }

    .rate{
        color: #4CAF50;
        
    }

    .delete-btn{
        background-color: #812026;
        color: #F0F2F5;
        border: none;
        height: 30px;
        width: 80px;
        border-radius: 5px;
    }
}

.confirm-delete{
    background-color: #812026;
    border: none;
    
}