.card-container-payment{
    .testing-card{
        border: solid;
        border-radius: 15px;
        //color: white;
        background-color: gray;

        .wifi-icon{
            margin-left: -8rem;
            color: white;
        }

    }
}