
    .span-display-none{
        display: none;
    }

    .round-before-click {
        background-color: white;
        width: 40px !important;
        height: 40px !important;
        padding: 0.2rem;
        border-radius: 50%;
        padding-bottom: 0;
        border: 1px solid black;
    }

    .round-after-click{
        background-color: #083387;
        width: 40px !important;
        height: 40px !important;
        padding: 0.2rem;
        border-radius: 50%;
        padding-bottom: 0;
        border: 1px solid black;
    }

    .line-before-click{
        border: solid 1px rgb(0, 0, 0);
        opacity: 100;
    }

    .line-after-click{
        border: solid 2px #083387;
        opacity: 100;
    }
