
    .span-display-none{
        display: none;
    }

    .round-before-click {
        background-color: white;
        width: 40px !important;
        height: 40px !important;
        padding: 0.2rem;
        border-radius: 50%;
        padding-bottom: 0;
        border: 1px solid black;
    }

    .round-after-click{
        background-color: #083387;
        width: 40px !important;
        height: 40px !important;
        padding: 0.2rem;
        border-radius: 50%;
        padding-bottom: 0;
        border: 1px solid black;
    }

    .line-container{
        width: 82px; 
    }

    .line-after-click{
        width: 82px;
        font-weight: 2rem;
    }
