//.card-calendar{
//  width: auto;
//  margin: auto;//10px 0 10px 970px
//  height: auto;
//  //border:none;
//  padding-left: 0px;
//
//  .app {
//    text-align: center;
//    color: #000000;
//  }
.calendar-container{
  width:350px;
}

  .selected-date {
    margin: 0 auto;
  }


  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  /* react calendar */
  .react-calendar { 
    width: auto;
    height:auto;
    max-width: 100%;
    background-color: #ebebeb !important;
    outline:8px;
    //color: #000000;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    border-radius: 15px;
  }
  
  .react-calendar__navigation button {
    color: #000000 !important;
    min-width: 44px;
    background:none;
    font-size: 16px;
    margin-top: 8px;
    //background-color: #ffffff;
  }
  
  .react-calendar--doubleView {
    width: 700px;
  }
  //****** Date display part start ****//
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation { //**Arrows**//
    display: flex;
    height: 44px;
    margin-bottom: 1em;
    background-color: #4CAF50;

  }
  .react-calendar__navigation button {
    min-width: 60px;
    background-color: #EBEBEB !important;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #ebebeb;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #ffffff;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    color:#000000 !important;
    //background-color:;
  }
  .react-calendar__month-view__weekdays__weekday { //***Days list **//
    padding: 0.5em;
    background-color: #EBEBEB;
  }
  abbr{
    background:none !important;
    outline: none;
    color:#000000;
  }
  abbr:active, abbr:hover{
    color:#ffffff !important;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    background-color: #EBEBEB;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__month-view__days__day--weekend {
    /* color: #d10000; */           
    color: #484747 !important;
    background-color: #e3e2e2 !important;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: rgba(118, 119, 119, 0.5) !important;
    background-color: #dbdee1 !important;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
    background-color: #EBEBEB;
  }
  .react-calendar__tile {//***background of calor *///
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background-color: #EBEBEB;
  }
  .react-calendar__tile:disabled {
    background-color: #ffffff;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #484747;
  }
  .react-calendar__tile--now {//****today styls***//
    /* background: #ffff76; */          
    background-color: #49494a !important;
    color:#ffffff;
  }
  /*.react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #6e6e6d;
  }*/
  .react-calendar__tile--hasActive {
    background: #a0a1a2 !important;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #757575;
  }
  .react-calendar__tile--active {
    background: #a0a1a2;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #767777;
  }
