.home-gallery {
  height: 76vh;

  .gallery-carousal {
    height: 76vh;

    .gallery-image {
      height: 75vh;
      width: 100%;
      margin: auto;
      border-radius: 2rem;
      box-shadow: 0px 5px 5px #B9B9B9;
    }
  }
}

@media (max-width: 820px) {
  .home-gallery {
    height: auto;

    .gallery-carousal {
      height: auto;

      .gallery-image {
        height: auto;
        width: 100%;
      }
    }
  }
}

.nav {
  background-color: transparent;
  border: none;

  .nav-item {
    background-color: transparent;

    button {
      width: 10rem !important;
      background-color: #000000;
      color: #ffffff;
      font-size: 1.2rem;
      padding-top: 0.2rem;
      padding-bottom: 0.3rem;
      border: 0;
    }

    &:first-child {
      button {
        border-radius: 1rem 0 0 0;
      }
    }

    &:nth-child(2) {
      button {
        border-radius: 0 1rem 0 0;
      }
    }

  }

  @media (max-width: 412px) {
    .nav-item {
      display: flex;
      width: 50%;
    }
  }
}

.tab-content {
  background-color: transparent;

  & > div {
    background-color: transparent;
  }
}

/*---------Chose section-------*/
.choose-section-city {
  border-radius: 0 0 0 1rem;

  .city-selecting-card {
    height: 5.2rem;
    outline: solid 1px;
    border-radius: 0.5rem;

    .dropdown {
      a:first-child {
        text-decoration: none;
        color: #000000;
        //font-size: 0rem;
        span {
          font-size: 1.2rem !important;
        }
      }
    }

    .province {
      font-size: 0.8rem;
      color: #000000;
    }
  }

  @media (max-width: 412px) {
    .city-selecting-card {
      height: 4.9rem;
    }
  }
}

@media (max-width: 412px) {
  .choose-section-city {
    margin-top: -5px;
  }
  .choose-section-guests {
    margin-top: -15px;
  }
  .choose-section-date {
    margin-top: -15px;
  }
}

.drop-down-menu {
  background-color: #ffffff;
}

.choose-section-guests {
  .guests-selecting-card {
    height: 5.2rem;
    outline: solid 1px;

    .guests-count {
      background: none;
      border: none;
      padding: 0;
      font-size: 1.1rem;
    }

    .guests-count:focus {
      -webkit-appearance: none;
      box-shadow: none !important;
    }

    .guests-count::placeholder {
      color: #000000;
    }

    .add-guests {
      font-size: 0.8rem !important;
      color: #000000;
      border: none;
      background: none;

      span {
        font-weight: bold;
        color: #000000;
      }
    }
  }

  @media (max-width: 412px) {
    .guests-selecting-card {
      height: 4.9rem;
    }
  }
}

.choose-section-date {
  border-radius: 0 1rem 1rem 0;
  //height:4.7rem;
  .date-selecting-card {
    height: 5.2rem;
    outline: solid 1px;

    .show-date {
      font-size: 1.1rem;
      font-weight: normal;
    }

    .calendar-icon {
      cursor: pointer;
      height: 20px;
      width: 20px;
    }

    .check {
      font-size: 0.8rem !important;
      color: #000000;
    }
  }

  @media (max-width: 412px) {
    .date-selecting-card {
      height: 5.6rem;
    }
    .date-selecting-card-body {
      height: 5.4rem;
    }
  }
}

@media (max-width: 820px) {
  .choose-section-city {
    border-radius: 0;
  }
  .choose-section-guests {
    border-radius: 0 1rem 0 0;
    padding-top: 0px;
  }
  .choose-section-date {
    border-radius: 0 0 1rem 1rem;
  }
}

@media (max-width: 412px) {
  .choose-section-city {
    border-radius: 0;
  }
  .choose-section-guests {
    border-radius: 0;
  }
  .choose-section-date {
    border-radius: 0 0 1rem 1rem;
    .show-date {
      font-size: 1rem !important;
      font-weight:500 !important;
    }

  }
}

.modal-dialog {
  border-radius: 1rem;

  .modal-content {
    background-color: #EBEBEB;
    border-radius: 1rem;

    .modal-header {
      border-radius: 1rem;
    }
  }
}

/*---------Filter section -----------------*/
.filter-section {
  color: #000000;
  justify-content: center;

  .filter-section-ac {
    border-radius: 0 1rem 1rem 1rem;
    height:118px;
  }
  .filter-card {
    margin-top: -8px;
  }
  .filter-section-food {
    border-radius: 0;
  }

  .filter-section-internet {
    border-radius: 0 1rem 1rem 0;
  }
  .radio-button-section {
    justify-content: center;
  }
  .filter-check-box{
    margin-left: 50px;
    .radio-lable{
      font-size: 1.2rem;
    }
  }

  @media (max-width: 820px) {
    .filter-section-ac {
      border-radius: 0;
    }
    .filter-section-food {
      border-radius: 0 1rem 0 0;
    }
    .filter-section-internet {
      border-radius: 0 0 1rem 1rem;
    }
  }
  @media (max-width: 412px) {
    .filter-section-ac {
      border-radius: 0;
      height: 103px;
    }
    .filter-section-food {
      border-radius: 0;
      height: 103px;
    }
    .filter-section-internet {
      border-radius: 0 0 1rem 1rem;
      height: 103px;
    }
    .filter-card {
      height: 0px;
      margin-top: -6px;
    }
    .filter-card-body {
      height: 80px;
    }
    .radio-button-section {
      font-size: 0.9rem;
      height: 50px;
      margin-top: -10px;
    }
    .filter-p {
      margin-top: -5px;
    }
  }

  .text-filter {
    font-size: 1.1rem;
  }

  .filter-card {
    border: none;
  }

  .filter-card-body {
    border-radius: 0.5rem;
    outline: #000000;
    outline: solid 1px;
  }

  .radio-button-section {
    font-size: 0.9rem;
    padding: 10px;
  }

  .filter-radio-button {
    //margin-left: 180px;
    cursor: pointer;
  }

  .radio-lable {
    font-size: 1rem;
    margin: 0 0 0 5px;
  }

  .filter-p {
    margin-top: 0px;
  }
}

/*------------whole search section-----------*/
.search-place {
  background: transparent;
  position: absolute;
  top: 75%;
  left: 10%;
  right: 10%;
  width: auto;

  @media (max-width: 820px) {
    z-index: 1;
    top: 32%;
  }
  @media (max-width: 412px) {
    top: 26%;
    margin-left: 3%;
  }
}

.search-button {
  position: absolute;
  z-index: 1;
  width: auto;
  justify-content: right;
  background: transparent;
  right: 11px;
  top: 137px;
  margin-top: 4px;

  @media (max-width: 820px) {
    top: 95%;
    left: 70.2%;
    height: 5%;
    button {
      width: 10rem;
    }
  }
}

@media (max-width: 412px) {
  .search-button {
    top: 83%;
    height: 5%;
    left: 37%;
    margin-top: 47px;
    margin-left: 41px;
    button {
      width: 7.8rem;
    }
  }
}