.place-details-cover {
    // background-color: #fff;
    border-radius: 5px;



    .place-details-bacground {
        // background-color: #fff;

        .place-details-heart-button {
            height: 3rem;
             width: 3rem;
            border-radius: 50%;
            border: none;
            background-color: #bababa; 
        }

        .place-details-heart-icon{
             height: 2.5rem;
             width: 1.5rem;
             color: #fff;
             background-color: #bababa; 
        }
    }

    .place-details-text {
        // background-color: #fff;
    }
}



@media only screen and (min-width: 412px) {

    h6 {
        font-size: 0.8rem;
    }

    h5 {
        font-size: 1rem;
    }

    .place-details-heart-button {
        height: 2rem !important;
         width: 2rem !important;
        border-radius: 50% !important;
        border: none;
        background-color: #bababa; 
    }

    .place-details-heart-icon{
         height: 1.5rem !important;
         width: 1rem !important; 
         color: #fff;
         background-color: #bababa; 
    }
}

@media only screen and (min-width: 820px) {

    h5 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1rem;
    }
}