.renter-gallery-and-details {
  display: flex;
  align-items: center;
}

.renter-card {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;

  .renter-body {
    background-color: #d9d9d9;
  }

  .renter-col {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;

    .renter-image {
      border-radius: 100%;
      width: 78%;
      height: 84%;
    }

    .renter-name {
      background-color: #d9d9d9;
      font-size: 0.9rem;
      font-weight: 700;
    }

    .renter-rating {
      background-color: #d9d9d9;
      color: white;
      font-size: 1rem;

      .rating-icon {
        background-color: #d9d9d9;
      }
    }
  }

  .renter-no {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    .renter-no-box {
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 8px;
    }
  }

  .renter-message {
    color: white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    .renter-message-box {
      border-radius: 8px;
      font-size: 1.3rem;
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 820px) {
  .renter-gallery-and-details {
    margin-bottom: 22px;
  }
  .renter-card {
    width: 100%;
    height: 100%;
    margin-left: 0;

    .renter-message {
      .renter-message-box {
        font-size: 1.7rem !important;
        padding: 13px;
      }
    }

    .renter-no {
      .renter-no-box {
        font-size: 1.9rem !important;
      }
    }

    .renter-name {
      font-size: 1.3rem !important;
      font-weight: 700;
    }

    .renter-rating {
      font-size: 1.4rem !important;
    }

    .renter-image {
      width: 59% !important;
      height: 80% !important;
    }
  }
}

@media only screen and (max-width: 412px) {
  .renter-gallery-and-details {
    margin-bottom: 23px;
  }

  .renter-card {
    width: 100%;
    height: 100%;

    .renter-message {
      .renter-message-box {
        font-size: 1.1rem !important;
        padding: 10px;
      }
    }

    .renter-no {
      .renter-no-box {
        font-size: 1.2rem !important;
      }
    }

    .renter-rating {
      font-size: 1.1rem !important;
    }

    .renter-image {
      width: 68% !important;
      height: 62% !important;
    }

    .renter-name {
      font-size: 1rem !important;
      font-weight: 700;
    }
  }
}
