.my-booking-section-head {
  margin: auto;

  button {
    padding-top: 0;
    padding-bottom: 10px
  }
}

@media only screen and (min-width: 820px) {
  .my-booking-section {
    height: 80vh;
    overflow-y: auto;
    //new syntax for scrollbar is in the bellow. it might be helpful in the future. so don't erase it
    //scrollbar-width: thin;
    //scrollbar-color: #CECECE #000000;
  }
  .my-booking-section::-webkit-scrollbar {
    width: 10px;
  }
  .my-booking-section::-webkit-scrollbar-track {
    background-color: #CECECE;
    border-radius: 0.5rem;
  }
  .my-booking-section::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  }
  .schedule-booking{
    margin-top:43px;
  }
  .schedule-section{
    margin-top: 3px !important;
  }
  .schedule-section-title{
    height:25px;
    margin-bottom: 10px;
  }
}

.sort-drop-down-btn {
  .dropdown-toggle::after {
    display: none;
  }
}

.my-bookings-dropdown {
  --bs-dropdown-min-width: 0px;
}

@media only screen and (max-width: 412px) {
  .my-booking-section-head {
    button {
      padding-right: 0;
    }
  }
  .my-booking-section {
    margin: auto;
  }
  .schedule-section{
    margin-top: 0px !important;
  }
  .schedule-booking{
    margin-top:65px;
  }
  .schedule-section-title{
    height:25px;
    margin-bottom: 0px;
  }
}

// schedule-card css

.schedule-card-text {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.schedule-card {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;

  .schedule-card-cancel{
    color: red;
    font-size: 13px;
    font-weight: 500;
    .cancel-btn{
      background-color: white;
    color: red;
    border: none;
    }
  }
}

// Scedule section css
.schedule-section {
  overflow-y: scroll;
  height: 12rem;

  .schedule-section-title {
    font-size: 1.5rem;
  }
}

.schedule-section::-webkit-scrollbar {
  display: none;
}