.payment-box {
  height: 15rem;
  border-radius: 13px;
  background-color: white;
  width:395px;

  .heading {
    background-color: white;
    font-weight: 500;
    font-size: large;
    color: #373737;
  }

  .received-amount {
    background-color: white;
    font-size: xx-large;
    font-weight: 600;
  }

  .pending-amount {
    background-color: white;
    font-size: x-large;
    font-weight: 600;
  }

  .sub-heading {
    background-color: white;
    font-weight: 500;
    font-size: large;
    color: #373737;
  }

  .sen {
    color: #373737;
    background-color: white;
    font-size: small;
    font-weight: 500;
  }
}

@media only screen and (max-width: 412px) {

  .renting-section {
    justify-content: center !important;
    padding-left: 4.5rem;
  }
  //.schedule-section-box{
  //  width:380px;
  //  //margin-left: 30px !important;
  //}
.renting-schedule{
  margin-right:15px;
}
  .schedule-section-box{
    margin-top: 0px !important;
  }
  .payment-box-container{
    margin-top: 0px !important;
    .payment-box{

    }
  }
}

.schedule-card-text {
  background-color: #fff;
}

.schedule-card {
  background-color: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

// Scedule section css
.schedule-section-box{

}
.schedule-section {
  overflow-y: scroll;
  height: 12rem;

  .schedule-section-title {
    font-size: 1.5rem;
  }
}

.schedule-section::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 820px) {
  .payment-box {
    margin: auto !important;
    //margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  .schedule-section-box{
    margin-top:-50px;
    margin-bottom: 10px;
  }
  .payment-box-container{
    width:350px !important;
    margin-top:-40px;
    .payment-box{
      width:300px !important;
      height:16rem;
    }
  }
}